@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,h1,h2,h3,h4,p
{
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img{
  max-width: 100%;
  display: block;
}
.nav {
  padding-top: 50px;
}
.nav .nav__logo {
  display: block;
  margin: 0 auto;
}
.hero__img__image {
  display: block;
  margin: auto;
  width: 100%;
}
.hero {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image1 image2" "content content";
}
.hero .hero__img1 {
  grid-area: image1;
}
.hero .hero__img2 {
  grid-area: image2;
}
.hero .hero__img__image {
  display: block;
  width: 100%;
}
.hero .hero__content {
  margin-top: 40px;
  grid-area: content;
  max-width: 450px;
  margin: 40px auto 0;
}
.hero .hero__content__title {
  font-size: 2.5rem;
  line-height: 45px;
  text-align: center;
  color: #28283d;
  font-weight: 900;
  padding: 10px 50px 15px;
}
.hero .hero__content__description {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
  padding: 0px 20px;
}
.hero .hero__content__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.hero .hero__content__btns--btn {
  font-size: 1rem;
  font-weight: 900;
  line-height: 26px;
  color: #ffffff;
  background-color: #4D96A9;
  border: 2px solid transparent;
  padding: 14px 36px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  display: block;
}
.hero .hero__content__btns--btn:hover, .hero .hero__content__btns--btn:focus {
  cursor: pointer;
  background-color: #6eadbd;
}
.hero .btn__span {
  color: #8FE3F9;
}
.hero .secondary--btn {
  background-color: #855FB1;
}
.hero .secondary--btn:hover, .hero .secondary--btn:focus {
  background-color: #9d7fc1;
}
.main {
  padding: 25px;
  z-index: 2;
  position: relative;
}
.main .main__container {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.main .main__container__img__image {
  width: 100%;
  border-radius: 8px;
}
.main .main__span {
  width: 56px;
  height: 56px;
  border: 1px solid #87879D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  margin: auto;
  position: relative;
}
.main .main__span:before {
  content: "";
  width: 1px;
  height: 84px;
  background-color: #87879D;
  position: absolute;
  top: -85px;
  left: 50%;
}
.main .span__one {
  position: relative;
  margin-top: 120px;
}
.main .main__description {
  margin-top: 50px;
}
.main .main__description__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 4px;
  font-size: 1rem;
  font-weight: 900;
  color: #4D96A9;
}
.main .main__description__subtitle {
  line-height: 36px;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: #28283d;
  margin-top: 28px;
}
.main .main__description__summary {
  text-align: center;
  line-height: 26px;
  margin-top: 32px;
  padding: 7px;
}
.main .span__two {
  margin-top: 130px;
  background: white;
}
.footer {
  width: 100%;
  background: url("../ASSETS/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.footer .footer__container {
  margin-top: -52px;
  background-color: #4D96AD;
  opacity: 0.9;
  height: 100%;
  padding-bottom: 50px;
}
.footer .footer__title {
  font-size: 2rem;
  text-align: center;
  color: white;
  padding-top: 96px;
  line-height: 36px;
  font-weight: 900;
}