@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,h1,h2,h3,h4,p
{
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img{
  max-width: 100%;
  display: block;
}
.nav {
  padding-top: 50px;
}
.nav .nav__logo {
  display: block;
  margin: 0 auto;
}
.hero__img__image {
  display: block;
  margin: auto;
  width: 100%;
}